<div class="navbar navbar-expand-lg navbar-dark navbar-custom navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("iPipeMR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color: black" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("New Rentals", "New", "Rentals", null, new { style = "color: black" })</li>
                <li>@Html.ActionLink("Customers", "Index", "Customers", null, new { style = "color: black" })</li>
                <li>@Html.ActionLink("Movies", "Index", "Movies",null, new {style = "color: black" })</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>

    </div>
</div>
